<div class="modal-header">
	<h3 class="modal-title">{{'SET_KEYBOARD_DLG_TITLE' | translate}}</h3>
</div>

<div class="modal-body">
	<button class="btn btn-default" type="button" ng-click="settingsDialogCtrl.importEnvs()">{{'SETTINGS_DLG_IMPORT_ENVS'| translate}}</button> <br /><br />
	<button class="btn btn-default" type="button" ng-click="settingsDialogCtrl.showSetKeyboardLayoutDialog()">{{'SETTINGS_DLG_SET_KEYBOARD_LAYOUT'| translate}}</button>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$close()">{{'SETTINGS_DLG_CLOSE_DLG' | translate}}</button>
</div>