<div class="modal-header">
	<h3 class="modal-title">Umgebung hinzufügen</h3>
</div>

<div class="modal-body">
	<ui-select id="chooseCustomEnvSelect" ng-model="addEnvDialogCtrl.newEnv" theme="bootstrap" style="width: 315px;" title="Wählen oder suchen sie eine Umgebung..." required>
		<ui-select-match placeholder="Wählen oder suchen sie eine Umgebung...">{{$select.selected.label}}</ui-select-match>
		<ui-select-choices repeat="env in addEnvDialogCtrl.environments | filter: $select.search">
			<span ng-bind-html="env.label | highlight: $select.search"></span>
		</ui-select-choices>
	</ui-select>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="addEnvDialogCtrl.addEnvironment()" ng-disabled="addEnvDialogCtrl.newEnv == null">Hinzufügen</button>
	<button class="btn btn-default" type="button" ng-click="$close()">Abbrechen</button>
</div>