<h1 class="m-t-0">{{'EDITENV_L' | translate}}</h1>

<form id="editEnvForm" name="editEnvCtrl.editEnvForm">
	<div class="form-group">
		<label>{{'EDITENV_NAME' | translate}}</label>
		<input type="text" class="form-control" ng-model="editEnvCtrl.envName" placeholder="{{'EDITENV_NAME_PH' | translate}}" required>
	</div>

	<div class="form-group">
		<label>{{'EDITENV_DESC' | translate}}</label>
		<textarea class="form-control" rows="3" ng-model="editEnvCtrl.envDescription" placeholder="{{'EDITENV_DESC_PH' | translate}}" required></textarea>
	</div>

	<p><b>{{'EDITENV_EMULATOR' | translate}}:</b> {{editEnvCtrl.env.emulator}} </p>
	<p><b>{{'EDITENV_OS' | translate}}:</b> {{editEnvCtrl.env.os}} </p>
	<div ng-show="editEnvCtrl.env.installedSoftwareIds.length > 0">
		<p id="editEnvSoftwareListLabel"><b>{{'EDITENV_SW' | translate}}:</b></p>
		<ul id="editEnvSoftwareList">
			<li ng-repeat="softwareId in editEnvCtrl.env.installedSoftwareIds">{{softwareId}}</li>
		</ul>
	</div>

	<div style="text-align: right;">
		<button type="submit" class="btn btn-default" ui-sref="wf-s.standard-envs-overview">{{'EDITENV_CANCEL' | translate}}</button>
		<button type="submit" class="btn btn-primary" ng-click="editEnvCtrl.saveEdit()" ui-sref="wf-s.standard-envs-overview" ng-disabled="!editEnvCtrl.editEnvForm.$valid">{{'EDITENV_SAVE' | translate}}</button>
	</div>
</form>