<h1 class="m-t-0">Umgebung bearbeiten</h1>

<form id="editEnvForm" name="editEnvCtrl.editEnvForm">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" ng-model="editEnvCtrl.envName" placeholder="Name der Umgebung.." required>
	</div>

	<div class="form-group">
		<label>Beschreibung</label>
		<textarea class="form-control" rows="3" ng-model="editEnvCtrl.envDescription" placeholder="Beschreibung der Umgebung.." required></textarea>
	</div>

	<p><b>Emulator:</b> {{editEnvCtrl.envEmulator}} </p>
	<p><b>OS:</b> {{editEnvCtrl.envOS}} </p>
	<p id="editEnvSoftwareListLabel"><b>Software:</b></p>
	<ul id="editEnvSoftwareList">
		<li>Software1</li>
		<li>Software2</li>
		<li>Software3</li>
	</ul>

	<div style="text-align: right;">
		<button type="submit" class="btn btn-default" ui-sref="wf-s.standard-envs-overview">Abbrechen</button>
		<button type="submit" class="btn btn-primary" ng-click="editEnvCtrl.saveEdit()" ui-sref="wf-s.standard-envs-overview" ng-disabled="!editEnvCtrl.editEnvForm.$valid">Speichern</button>
	</div>
</form>