<h1 class="m-t-0">{{'CHAR_L' | translate}}</h1>

<div style="text-align: right; margin-bottom: 15px;">
	<div style="display: inline-block;">
		<button type="submit" class="btn btn-default" ng-click="editObjectCharacterizationCtrl.automaticCharacterization()">
		<span class="glyphicon glyphicon-cloud-download"></span> {{'CHAR_AUT' | translate}}</button>
	</div>

	<div style="display: inline-block;">
		<button type="submit" class="btn btn-default" ng-click="editObjectCharacterizationCtrl.openAddEnvDialog()">
		<span style="color: green" class="glyphicon glyphicon-plus"></span> {{'CHAR_ADD' | translate}}</button>
	</div>
</div>

<ul class="list-group-item" ng-sortable="{animation: 150, handle: '.handle'}">
	<li class="list-group-item" ng-repeat="env in editObjectCharacterizationCtrl.objEnvironments">
		<div class="handle btn btn-primary"><i class="glyphicon glyphicon-move"></i></div>
		<h4 style="display: inline-block;">{{env.label}}</h4>
		<div class="btn btn-default" style="float: right; color: #CC322E;" ng-click="editObjectCharacterizationCtrl.removeEnvironment(env)">
			<i class="glyphicon glyphicon-remove"></i>
		</div>
		<div style="float: right;"><button type="submit" class="btn btn-primary" 
			ui-sref="wf-s.emulator({envId: env.id, isNewObjectEnv: true, objectId: editObjectCharacterizationCtrl.objectId})" >test</button>
	</li>
</ul>

<br>

<div style="text-align: right;">
	<button class="btn btn-primary" type="button" ng-click="editObjectCharacterizationCtrl.saveCharacterization()">{{'CHAR_SAVE' | translate}}</button>
	<button class="btn btn-default" type="button" ui-sref="wf-s.standard-envs-overview">{{'CHAR_CANCEL' | translate}}</button>
</div>

<div class="fullscreen-overlay-spinner">
	<img style="margin: -72px 0 0 -72px;" height="144" width="144" src="img/gears.gif" />
</div>
