<h1 class="m-t-0">Standardumgebung erstellen</h1>

<form id="newEnvForm" name="newEnvCtrl.newEnvForm">
	<div class="form-group">
		<label>Basisumgebung</label>
		<ui-select ng-model="newEnvCtrl.selected_env" theme="bootstrap" style="width: 350px;" title="Wählen oder suchen sie eine Umgebung..." required>
			<ui-select-match placeholder="Wählen oder suchen sie eine Umgebung...">{{$select.selected.title}}</ui-select-match>
			<ui-select-choices repeat="env in newEnvCtrl.envs | filter: $select.search">
				<span ng-bind-html="env.title | highlight: $select.search"></span>
			</ui-select-choices>
		</ui-select>
	</div>
	
	<div class="form-group">
		<label>Software</label>
		<ui-select ng-model="newEnvCtrl.selected_sw" theme="bootstrap" style="width: 350px;" title="Wählen oder suchen sie eine Software...">
			<ui-select-match placeholder="Wählen oder suchen sie eine Software...">{{$select.selected.title}}</ui-select-match>
			<ui-select-choices repeat="sw in newEnvCtrl.software | filter: $select.search">
				<span ng-bind-html="sw.title | highlight: $select.search"></span>
			</ui-select-choices>
		</ui-select>
	</div>

	<div style="text-align: right;">
		<button type="submit" class="btn btn-default" ui-sref="wf-s.standard-envs-overview">Abbrechen</button>
		<button type="submit" class="btn btn-primary" ui-sref="wf-s.emulator({envId: newEnvCtrl.selected_env.envId, isNewEnv: true})" ng-disabled="!newEnvCtrl.newEnvForm.$valid">Starten</button>
	</div>
</form>