<h1 class="m-t-0">{{'NEWENV_L' | translate}}</h1>

<form id="newEnvForm" name="newEnvCtrl.newEnvForm">
	<div class="form-group">
		<label>{{'NEWENV_BASE' | translate}}</label>
		<div style="max-width: 375px;">
			<ui-select ng-model="newEnvCtrl.selected_env" theme="bootstrap" title="{{'NEWENV_SELECT_ENV' | translate}}" required>
				<ui-select-match placeholder="{{'NEWENV_SELECT_ENV' | translate}}">{{$select.selected.title}}</ui-select-match>
				<ui-select-choices repeat="env in newEnvCtrl.envs | filter: $select.search">
					<span ng-bind-html="env.title | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
	
	<div class="form-group">
		<label>{{'NEWENV_SW' | translate}}</label>
		<div style="max-width: 375px;">
			<ui-select ng-model="newEnvCtrl.selected_sw" theme="bootstrap" title="{{'NEWENV_SELECT_SW' | translate}}">
				<ui-select-match placeholder="{{'NEWENV_SELECT_SW' | translate}}">{{$select.selected.label}}</ui-select-match>
				<ui-select-choices repeat="sw in newEnvCtrl.software | filter: $select.search">
					<span ng-bind-html="sw.label | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div style="text-align: right;">
		<button type="submit" class="btn btn-default" ui-sref="wf-s.standard-envs-overview">{{'NEWENV_CANCEL' | translate}}</button>
		<button type="submit" class="btn btn-primary" ui-sref="wf-s.emulator({envId: newEnvCtrl.selected_env.envId, isNewEnv: true, softwareId: newEnvCtrl.selected_sw.id})" ng-disabled="!newEnvCtrl.newEnvForm.$valid">{{'NEWENV_START' | translate}}</button>
	</div>
</form>