<div class="modal-header">
	<h3 class="modal-title">Änderungen speichern</h3>
</div>

<div class="modal-body">
	<form id="editEnvForm" name="openSaveEnvironmentDialogCtrl.editEnvForm">
		<div class="form-group" ng-if="openSaveEnvironmentDialogCtrl.isNewEnv">
			<label>Name</label>
			<input type="text" class="form-control" ng-model="openSaveEnvironmentDialogCtrl.envName" placeholder="Name der Umgebung.." required>
		</div>
	
		<div class="form-group">
			<label>Beschreibung</label>
			<textarea class="form-control" rows="3" ng-model="openSaveEnvironmentDialogCtrl.envDescription" placeholder="Beschreibung der Änderungen.." required></textarea>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="openSaveEnvironmentDialogCtrl.saveEnvironment()" ng-disabled="!openSaveEnvironmentDialogCtrl.editEnvForm.$valid">Speichern</button>
	<button class="btn btn-default" type="button" ng-click="$close()">Abbrechen</button>
</div>